@use 'variables' as *;

footer {
    background-image: url('./assets//img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

.container_link {
    a {
        color: grey;
        font-size: 0.75rem;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    h3 {
        color: $secondary_color;
        font-size: 1.25rem;
    }
}

.footer-top {}

.container_social {
    background-color: $light_dark;

    h3 {
        color: $primary_color;
    }

    button {
        background-color: $light_dark;
        padding: 0.5rem;
        color: white;
        border: 2px solid;
        border-color: $primary_color;
    }

    img {
        width: 30px;
        height: 30px;
    }
}

.col-6 {
    img {

        max-width: 70%;
    }



}