@use 'variables' as *;

.container_primary {
    background-color: $dark;

    h3 {
        color: $secondary_color;
    }
}

.container_secondary {
    background-color: $primary_color;
    margin-top: - 8px;

    a {
        color: $secondary_color;
        text-decoration: none;
        font-size: 0.75rem;
        text-transform: uppercase;
    }

    img {
        width: 45px;
    }


}